.controls,
.stopwatch{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.stopwatch {
  width: 172px;
  background-color: grey;
  font-size: 24px;
  color: #fff;
}

.controls {
  a {
    font-size: 24px;
    text-decoration: none;
    padding: 5px;
    background-color: grey;
    color: #fff;
    &:hover{
      background-color: black;
    }
  }
}
